<% layout("/layouts/boilerplate")%> 
<body>
    <style>
        #filters{
               display: flex;
               flex-wrap: wrap;
               align-items: center;
        }
        .filter{
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
           
        }
        .filter:hover{
            opacity: 1;
            cursor: pointer;
        }

        .filter p{
            font-size: 1rem;
        }

        .tax-info{
            display: none;
        }

        .tax-switch{
            border: 1px solid black;
            border-radius: 1rem;
            height: 3.5rem;
            padding: 1rem;
            margin-left: 6rem;
            display: flex;
        align-items: center;
        }
    </style>

    <!-- filters -->
<div id="filters">
    <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
         <p>Rooms</p>
</div>


     <div class="filter">
        <div><i class="fa-solid fa-city"></i></div>
        <p>Iconic Cities</p>
</div>



    <div class="filter">
     <div><i class="fa-solid fa-mountain-sun"></i></div>
     <p>Mountains</p>
 </div>
 


    <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
 </div>


    <div class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing Pools</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-tents"></i></div>
        <p>Camping</p>
        </div>

        <div class="filter">
            <div><i class="fa-solid fa-tractor"></i></div>
            <p>Farms</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
                </div>

<!-- tax switch -->
 <div class="tax-switch">
<div class="form-check-reverse form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Display Total After Taxes</label>
  </div>
</div>
            
</div>
    

    <!-- bootstrap -->
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
        <% for(let listing of allListings) { %>
            <a href="/listings/<%= listing.id %>" class="listing-link">
                <div class="card col listing-card">

                    <img src="<%=listing.image.url || 'https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZGVmYXVsdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60'%>" 
                         class="card-img-top"
                         alt="listing_image" 
                         style="height: 20rem;">
                    
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b>

                            <br>
                            <% if (listing.price) { %>
                                &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
                                <i class="tax-info">&nbsp;&nbsp; +18% GST</i>
                            <% } else { %>
                                Price not available
                            <% } %>
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>


<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
     
    taxSwitch.addEventListener("change", ()=> {
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo) {

            if(info.style.display != "inline"){
                info.style.display = "inline";
            }else{
                info.style.display = "none";
            }
}    });




</script>
